.navbar,
.navbar navbar-inverse navbar-static-top,
.container,
.navbar-toggle,
.navbar-collapse{
.sf-menu.sf-style-spring {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-spring.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-spring ul {
  padding-left: 0;
}
/* border: 1px solid #002041; removed*/
.sf-menu.sf-style-spring a,
.sf-menu.sf-style-spring span.nolink {
 
  color: #00CCFF;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-spring a.sf-with-ul,
.sf-menu.sf-style-spring span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-spring.rtl a.sf-with-ul,
.sf-menu.sf-style-spring.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-spring.sf-navbar a,
.sf-menu.sf-style-spring.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-spring span.sf-description {
  color: #37731f;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-spring.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-spring li,
.sf-menu.sf-style-spring.sf-navbar {
  background: #002041;
}
.sf-menu.sf-style-spring li li {
  background: #eaffdb;
}
.sf-menu.sf-style-spring li li li {
  background: #daf8c5;
}
.sf-menu.sf-style-spring li:hover,
.sf-menu.sf-style-spring li.sfHover,
.sf-menu.sf-style-spring a:focus,
.sf-menu.sf-style-spring a:hover,
.sf-menu.sf-style-spring a:active,
.sf-menu.sf-style-spring span.nolink:hover,
.sf-menu.sf-style-spring.sf-navbar li li {
  background: #AAE7FC;;
}
.sf-menu.sf-style-spring.sf-navbar li ul {
  background-color: #bff6a9;
}
.sf-menu.sf-style-spring.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-spring .sf-sub-indicator {
  background-image: url('../images/arrows-777777.png');
}
.sf-menu.sf-style-spring.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-777777-rtl.png');
}
div.sf-accordion-toggle.sf-style-spring a {
  background: #ecffdf;
  border: 1px solid #002041;
  color: #37731f;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-spring a.sf-expanded,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded {
  background-color: #bff6a9;
}
div.sf-accordion-toggle.sf-style-spring a.sf-expanded,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-spring.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-spring.sf-accordion li li a,
.sf-menu.sf-style-spring.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-spring.sf-accordion li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-spring.sf-accordion li li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-spring.sf-accordion li li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-spring.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
}


/* 
.sf-menu.sf-style-spring.small-screen {
  width: 100%;
}
.sf-menu.sf-style-spring.small-screen > ul,
.sf-menu.sf-style-spring..small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
.sf-menu.sf-style-spring.small-screen > ul > li,
.sf-menu.sf-style-spring.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
.sf-menu.sf-style-spring.small-screen > ul > li:hover > a,
.sf-menu.sf-style-spring.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
.sf-menu.sf-style-spring.small-screen > ul > li > a::before {
  display: none;
}
.sf-menu.sf-style-spring.small-screen .navbar {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #3db2e1;
}
.sf-menu.sf-style-spring.small-screen navbar:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
.sf-menu.sf-style-spring.small-screen .navbar.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
.sf-menu.sf-style-spring.small-screen .navbar:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
.sf-menu.sf-style-spring.small-screen .navbar.menu-opened:before {
  background: #dff2fa;
}


line 171, ../bootstrap/assets/stylesheets/bootstrap/_tables.scss */
/*
@media screen and (max-width: 767px) {
  
  sf-menu.sf-style-spring.sf-navbar{
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  @media screen and (max-width:1260px;){
    .sf-menu.sf-style-spring.sf-navbar{width:800px;}
    .sf-menu.sf-style-spring li {width: 150px;}
  }
  @media screen and (max-width:1060px;){
    .sf-menu.sf-style-spring.sf-navbar{width:100%;height:60px;float:right;}
    .sf-menu.sf-style-spring li {width: 18px;}
    li>a{line-height: 60px;font-size: 16px;}
  }
    @media screen and (max-width:480px;){
    .sf-menu.sf-style-spring.sf-navbar{width:100%;height:60px;float:none;}
    .sf-menu.sf-style-spring li {width: 100%;list-style:none;float:none;border-bottom:1px solid skyblue;}
    li a{display: block;color:white; line-height: 60px;font-size:16px;}
  }*/
  /* line 11, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
/* line 14, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar:before, .navbar:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 11, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar {
    border-radius: 4px;
  }
}

/* line 14, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-header:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 31, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-header {
    float: left;
  }
}

/* line 50, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
/* line 14, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}
/* line 19, ../bootstrap/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.navbar-collapse:after {
  clear: both;
}
/* line 59, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  /* line 50, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  /* line 68, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  /* line 75, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-collapse.in {
    overflow-y: visible;
  }
  /* line 81, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 92, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  /* line 92, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

/* line 108, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  /* line 108, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

/* line 128, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  /* line 128, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-static-top {
    border-radius: 0;
  }
}

/* line 138, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  /* line 138, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

/* line 150, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

/* line 154, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

/* line 163, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
/* line 170, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
/* line 175, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  /* line 180, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

/* line 193, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 206, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-toggle:focus {
  outline: 0;
}
/* line 211, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
/* line 217, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  /* line 193, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-toggle {
    display: none;
  }
}

/* line 232, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-nav {
  margin: 7.5px -15px;
}
/* line 235, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  /* line 243, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  /* line 251, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  /* line 255, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  /* line 257, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  /* line 232, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav {
    float: left;
    margin: 0;
  }
  /* line 270, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav > li {
    float: left;
  }
  /* line 272, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* line 286, ../bootstrap/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}