// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';
// Base-theme overrides.
@import 'overrides';
@import '../bootstrap/assets/stylesheets/bootstrap/mixins';
@import 'compass';
@import 'others/minipanels';

/*
@import "partials/variables";
@import "partials/mixins";
@import "partials/normalize";
@import "partials/base";
@import "partials/layout";
@import "partials/style-settings";
@import "partials/admin-layout-settings";
@import "partials/mobile-first";
@import "partials/responsive-media";
*/

/*.nav-wrap,
.slideshow,
.body-wrap,
.sub-footer-wrap,
.footer-wrap {
    float:left;
    width:100%;
    clear:both;
}
$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;  
$blue-gray: #6699CC;
$main-green: #00647D;
$alice-blue: #F0F8FF;
$ash-gray: #B2BEB5;
$camden: #004465;
$aviate:#002337;
$myblue:#004489;
$lightgray: #E3E6EB;


.header-wrap,
.nav-wrap,
.footer-wrap
.body-wrap,{
    float:left;
    width:100%;
    clear:both;
}
.header,
.nav,
.body,
.footer{
    width:960px;
    margin:0 auto;
}
.header,
.footer,{
    background: $camden;
    height: 118px;
}
.nav{
    background: $gray;
}
.body-wrap{
    background: $lightgray;
} */

$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$blue-gray: #6699CC;
$main-green: #00647D;
$alice-blue: #F0F8FF;
$ash-gray: #B2BEB5;
$camden: #004465;
$aviate:#002337;
$myblue:#004489;
$lightgray: #E3E6EB;
$corel: #002041;
$highlight: #A1A8A6;
$cyan: #00D5F5;
$lightcolor:#AAE7FC;
$mylight: #00CCFF;
$nav: #0A9BDE;
$dev: #D6EBFF;
$light: #00CEF4;
/**/


//header
/*
#header{
    border: 3px solid $mylight;
    border-radius: 0px 99px 0px 90px ;
}

#highlighted{
    background: none;
    height: 48px;
    width: 100%;
}

.navbar{
    border-radius: 0px 70px 0px 96px ;
    border-bottom: none;
    background:lightblue;
    height: 30px;
 
    
}*/   /*
#header,
#footer{
background: $corel;
height: 180px;

}

.nav-wrap,
.footer-wrap,
.content-wrap{
    background: $light;
    width:100%;
    clear:both;

}

.main-content,
.page-cont{
    float: center;
    margin:50px;
    background: gray;
}

.nav-wrap,
.footer-wrap,
.content-wrap{
    background: $light;
    width:100%;
    clear:both;

}

.slide,
.slide-column{
    width: 100%;
}

   
#slide-show{
    background: orange;
    padding: 1em;
    float: left;
    margin-top: 3px;
    margin-right: 2px;
}
.body-section{
    background: white;
    padding: 1em;

    margin: 10px 2px 5px 2px;
}

.slide,
.slide-column{
    padding-left: 2em;
    background: red;
    width: 100%;
    margin: 0 auto;
    }
    .slide-show{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: right;
    }


.footer-cont,
#site-name,{
  padding: 17px 0 0 10px;
  margin: 0;
  text-align: left;
  margin-left: 155px;
  margin-top: 25px;
}
.header-wrap{
    background: $mylight;
    border-radius: 0px;
    border-radius: 0px 1px 0px 90px ;
}

#page{
    padding: 5px;

}
.users-menu{
    float: right;
    

}
.menu-main{
    padding: 3px;
    margin: 5px;
}



// change later!
.col-12 {
    width: 100%;
    box-sizing: border-box;
   

} */
/*.row{
    float: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-row{
    background: yellow;
    margin: 0 auto;
}
.left-region,
.center-region,
.right-region{
    background: green;
    display:block;

    
}
.bottom-row{
    width: 100%;
}

.program-region{ 
    width: 100%;
    background: red;
}
.bottom-right,
.bottom-left,
.program-region,
.bottom-center{
    width: 100%;
    background: $corel;
}

//do not delete
.container{
    width: 99.95%;
}
.body-section{
    width:100%;
    clear:both;
        background: white;


}
.programpage{
    background: black;
    width: 100%;
    margin: 15px;
    padding: 5em;
}
.homepage{
    background: orange;
    margin-right:1px;
    width: 100%;
}
.page-cont{ 
    width: 98%;
    background: gray;
}
.slide-show{
    width: 99.98%;
}
.row-programs{
    background: orange;
}
#program-row{
    margin: 5px 5px 5px 5px;
    background: orange;
    width: 90%;
}
.program-container,
.class-news{
    background: black;
    padding: 3em;
}
class-news{
    width: 78%;
    margin-left: 50px;
    background: black;
}
.programs{
    background: black;
    width: 50%;
}
*/
#navbar{
    background: transparent;
    border: none;
}