/* line 2, ../scss/overide_views.scss */
.sf-menu a, .sf-menu a:active, .sf-menu a:visited, .sf-menu a:focus {
  color: #002337;
  height: 45px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*.sf-menu li.last a {
  /* last item of the root menu */
 /* border-right: none;
  padding: 5px;

}*/
/* line 17, ../scss/overide_views.scss */
.sf-menu li ul li a
 {
  /* all other child menu items */
  border-style: solid;
  border-width: 1px;
}

/* border-color is set by colors.css */
/* line 26, ../scss/overide_views.scss */
.sf-menu li.menuparent a {
  /* item with child menu - adding some spaces for arrows */
  padding: 0;
}

/* line 30, ../scss/overide_views.scss */
.sf-menu li a.sfHover,
.sf-menu li a:hover {
  background-color: #A1A8A6;
}

/* line 34, ../scss/overide_views.scss */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 3.2em;
  border-top: none;
}

/* line 38, ../scss/overide_views.scss */
.sf-sub-indicator {
  background: url("../images/sf-arrows.png") no-repeat -10px -110px;
}

/* line 41, ../scss/overide_views.scss */
a > .sf-sub-indicator {
  top: .8em;
  /* .2em drop in arrows */
}

/* line 44, ../scss/overide_views.scss */
.sf-menu ul {
  border-width: 1px;
  border-style: solid;
  /* border-color: #e3ddb0;  add border around the child menu block */
  margin-top: 10px;
}
